@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Зарегистрировать ИП/ООО</h5>
                    <p class="card-text">потом поменяю</p>
                    <a asp-controller="Company" asp-action="AddCompany" class="btn btn-primary">Создать</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Мои компании</h5>
                    <p class="card-text">Перейти к списку и управлении моих компаний</p>
                    <a asp-controller="Company" asp-action="GetCompanies" class="btn btn-primary">Мои компании</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Присоединение</h5>
                    <p class="card-text">Посмотреть список приглашений от компаний</p>
                    <a asp-controller="Company" asp-action="MyInvitations" class="btn btn-primary">Приглашения</a>
                </div>
            </div>
        </div>
    </div>
</div>