@using Sub.Models.Entities.Invitation
@model InvitationVM

@{
    ViewData["Title"] = "Invite";
    var currentCompanyId = ViewBag.CurrentCompanyId;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">

            <h2 class="text-center mb-4">Пригласить в компанию</h2>

            <form class="mt-4" asp-action="Invite" asp-controller="Company" method="post">
                <input type="hidden" asp-for="CompanyId" value="@currentCompanyId" />

                <div class="form-group">
                    <label asp-for="InviteeEmail">Введите имейл работника, которого вы хотите пригласить</label>
                    <input asp-for="InviteeEmail" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary w-100">Отправить приглашение</button>
            </form>
        </div>
    </div>
</div>