@using Sub.Models.Entities.User.User
@model ForgotPasswrodVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Восстановление пароля</h1>

<form asp-action="ForgotPassword" asp-controller="Authentication" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Отправить ссылку</button>
</form>

