@using Sub.Models.Entities.User.User

@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<form asp-action="ResetPassword" asp-controller="Authentication" method="post">

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить пароль</button>
</form>
