@using Sub.Models.Entities.User.User
@model SignUpVM
@{
    ViewData["Title"] = "SignUp";
}


<h1>Sign Up</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">

            <form class="mt-4" asp-controller="Authentication" asp-action="SignUp" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="UserName" class="font-weight-bold"></label>
                    <input asp-for="UserName" type="text" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="font-weight-bold"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="font-weight-bold"></label>
                    <input asp-for="Password" class="form-control" value="2752985BBnn!" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="font-weight-bold"></label>
                    <input asp-for="ConfirmPassword" class="form-control" value="2752985BBnn!" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FirstName" class="font-weight-bold"></label>
                    <input asp-for="FirstName" type="text" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="font-weight-bold"></label>
                    <input asp-for="LastName" type="text" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MiddleName" class="font-weight-bold"></label>
                    <input asp-for="MiddleName" type="text" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="font-weight-bold"></label>
                    <input asp-for="DateOfBirth" type="date" value="1991-07-11" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>

            </form>

        </div>
    </div>
</div>